* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

// body {
//   display: flex;
//   justify-content: start;
//   align-items: center;
// }

.container {
  max-width: 1440px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}